<h1>Add a products</h1>
<hr />
<form action="/productos" method="POST">
  <label for="title">Name</label><br />
  <input type="text" name="title" required /><br />
  <label for="price">Price</label><br />
  <input type="number" name="price" required /><br />
  <label for="thumbnail">Image url</label><br />
  <input type="text" name="thumbnail" required /><br /><br />
  <button>Send</button>
</form>
<hr>
<a href="http://localhost:8080/productos"><button>products list</button></a>